[push]
	default = simple
[user]
	email = laganojunior@gmail.com
	name = Manue Lagang
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[core]
	editor = vim
[alias]
	tree = log --graph --decorate --color --oneline
[color]
	ui = true
